@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #ff0000;
  --text-color: #282828;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 200;
  font-size: 20px;

}
body{
  color: #282828;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb{
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
}

@layer components{
.my-input{
  @apply w-full p-2 px-3  border border-red-500 bg-white rounded-[15px]  placeholder:text-[#28282880] outline-none my-1  text-lg h-[53px]
}

.my-hover{
  @apply transition-all duration-300 ease-in cursor-pointer
}

.my-input:focus~.lable-input
{
  @apply top-[-25px] text-blue-700 bg-[#F3F4F6]
}
.my-input:valid~.lable-input
{
  @apply top-[-25px]  bg-[#F3F4F6] text-black
}
.lable-input{
  @apply absolute right-[6px] top-3 transition-all duration-300 bg-white
}
.my-input:focus{
 @apply border-blue-700 
}
.form-input-book{
  @apply w-56 rounded-md p-1 px-2 font-light shadow-sm
}
.my-icons{
 @apply flex items-center gap-1  justify-center
}
.header-li{
  @apply w-fit relative my-hover
}
.header-li::before{
 content: "";
 @apply absolute inline-block w-0 h-[2px] bottom-[-2px] right-0 my-hover bg-white
}
.header-li:hover::before{
  @apply w-full
}
.header-li-static::before{
  @apply w-full
}
.hover-li{
  @apply w-fit relative my-hover
}
.hover-li::before{
 content: "";
 @apply absolute inline-block w-0 h-[2px] bottom-[-2px] right-0 my-hover bg-red-500
}
.hover-li:hover::before{
  @apply w-full
}
.hover-li-static{
  @apply w-fit relative 
}
.hover-li-static::before{
  content: "";
  @apply absolute inline-block w-full h-[2px] bottom-[-2px] right-0 my-hover bg-red-500
}
.but-green{
  @apply p-1 px-2 rounded-md bg-green-500 text-white border my-hover hover:text-green-500 hover:bg-white hover:border-green-500 mr-2 my-hover
}
.my-submit{
  @apply w-full p-2  bg-[#f21055] rounded-xl text-white text-lg mt-8 font-light border hover:text-[#f21055] hover:bg-white hover:border-[#f21055]  outline-none disabled:opacity-65 my-hover 
}
}

.my-details[open] ul {
  @apply animate-show opacity-0
}




